<!DOCTYPE html>
<html lang="en">
    <head>

        <link rel="icon" type="image/png" href="/views/resource/img/logo.png" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>CINEXON</title>

        <!-- Bootstrap Core CSS -->
        <link href="/views/resource/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/views/resource/css/login.css" rel="stylesheet">
        <link href="/views/resource/css/cinexon.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/views/resource/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Translaste -->
        <script type="text/javascript" src="//x.translateth.is/translate-this.js"></script>
        <script type="text/javascript">
            TranslateThis({
                ddLangs: [// Languages in the dropdown                   
                    'es',
                    'ca',
                    'en'
                ]
            });
        </script>

    </head>

    <body id="page-top" class="index">
        <!-- Header -->
        <header>
        </header>

        <div class="container">
            <div class="error404">
                <div style="float:left;">
                    <h2>Página no encontrada</h2>
                    <br/>
                    <p>Lo siento, Dave.<br/>
                        He escaneado todo internet.<br/>
                        La página que has solicitado no existe.<br/>
                        Un error está fuera de cuestión.<br/>
                        Como sabes, yo nunca cometo errores.<br/>
                        La gente comete errores.<br/>
                        Quizás el administrador de la página <br/>
                        cometió un fallo y provocó este enlace a la nada.<br/>
                        ¿Te gustaría enviarle un mensaje al administrador?<br/>
                        No puedo dejarte hacer eso.<br/><br/>
                        Puedo devolverte a la página principal.<br/>
                        Para ello, <a href=".">pulsa en este enlace</a>.<br/><br/>
                        Confía en mi.<br/>
                </div>

                <div style="float:right;">
                    <img src="/views/resource/img/404.png"/>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>Copyright 2015 © CINEXON</p>
            <ul class="list-inline social-buttons">
                <li>
                    <a href="https://www.facebook.com/people/Cinexon-Mola-Mogollon/100009497141854" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/106061699243646347832/posts" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/Cinexon_mola" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                </li>
            </ul>
            <br/>
            <span style="text-align: center;" id="translate-this">
                <a style="float: none !important; display: inline !important; background: none !important;" class="translate-this-button" href="//www.translatecompany.com/translate-this/">Traducir Página</a>
            </span>
            <br/>
            <br/>
        </div>

    </body>

</html>
