<iframe name="iframeDownload" style="display:none;"></iframe>

<div class="alert alert-success popup-message" style="display: none;" name="message-success">
    <p name="messagePopUpSuccess"></p>
</div>

<div class="alert alert-danger popup-message" style="display: none;" name="message-error">
    <p name="messagePopUpError"></p>
</div>

<!-- Pie Pagina -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-12">
                    <h3>Síguenos</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/people/Cinexon-Mola-Mogollon/100009497141854" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/u/0/106061699243646347832/posts" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Cinexon_mola" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                    </ul>
                    <br/>
                    <span style="text-align: center;" id="translate-this">
                        <a style="float: none !important; display: inline !important; background: none !important;" class="translate-this-button" href="//www.translatecompany.com/translate-this/">Traducir Página</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Cinexon 2015
                </div>
            </div>
        </div>
    </div>
</div>
</footer>