<div class="container">
    <div class="card card-container">
        <a href=".">
            <img id="profile-img" class="profile-img-card" src="views/resource/img/logo.png" />
        </a>
        <p id="profile-name" class="profile-name-card">¿Ha olvidado su contraseña? Escriba su Email para cambiarla.</p>
        <div class="form-signin">
            <div name="cuadroEmail">
                <input type="email" name="inputEmail" class="form-control" placeholder="Email" required>
                <div class="text-center">
                    <label class="control-label" name="mensajeEmail" style="display:none; margin-bottom: 10px;"></label>
                </div>
            </div>
            <button id="button" class="btn btn-lg btn-primary btn-block btn-signin">Cambiar Contraseña</button>
        </div><!-- /form -->
    </div>
</div>

<!-- Password -->
<script src="views/resource/js/changePassword.js"></script>

<!-- Messages -->
<script src="views/resource/js/messages.js"></script>